@import './variables.scss';
@import './normalize.scss';

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

body {
  background-color: $bg-color;
}

.el-main {
  .el-card + .el-card {
    margin-top: 20px;
  }
}

.operate-bar {
  margin-bottom: 20px;
  text-align: right;
}
